<app-header></app-header>
<ion-content>
	<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
		<ion-card style="width: 600px;">
			<ion-card-header>
				<ion-card-title>Kontaktinformation</ion-card-title>
				<ion-card-subtitle>Glasmästeriet Blyglasdesign AB</ion-card-subtitle>
			</ion-card-header>
			<ion-card-content>
				<ion-item detail button href="tel:0703315504">
					<ion-icon name="call" slot="start"></ion-icon>
					<ion-label>
						070 331 55 04
					</ion-label>
				</ion-item>
				<ion-item detail button href="tel:092012550">
					<ion-icon name="business" slot="start"></ion-icon>
					<ion-label>
						0920 125 50
					</ion-label>
				</ion-item>
				<ion-item detail button href="mailto:info@blyglasdesign.com">
					<ion-icon name="mail" slot="start"></ion-icon>
					<ion-label>
						info@blyglasdesign.com
					</ion-label>
				</ion-item>

				<ion-item detail="false" button href="mailto:info@blyglasdesign.com">
					<ion-icon name="home" slot="start"></ion-icon>
					<ion-label>
						Sandnäset 61, 97594 Luleå
					</ion-label>
				</ion-item>
			</ion-card-content>
			<!-- <p class="footer">Glasmästeriet Blyglasdesign Luleå AB <br> Org Nr: 556888-6633</p> -->
		</ion-card>
	</div>
</ion-content>
<ion-footer class="ion-no-border">
	<ion-item class="ion-text-center">
		<ion-label class="ion-text-wrap">
			<p>Glasmästeriet Blyglasdesign Luleå AB 556888-6633</p>
		</ion-label>
	</ion-item>
</ion-footer>